.pull-request {
    
  .list-item {
    &__data {
      align-items: baseline;
      flex-direction: column;
    }
  
    &__body {
      max-width: 40rem;
      @media (min-width: 45rem) {
        margin-bottom: 1rem;
      }
    }
    &__header {
      max-width: 40rem;
    }

    @media (min-width: 110rem){
      position: relative;
      left: 40%;
      max-width: 60rem;
    }
  }

  .user-profile {
    flex-flow: row;
    &__body {
      &--text {
        bottom: 1rem;
        left: 1rem;
        position: relative;
      }
    }
  }
}
