.PullRequest-wrapper{
    width: 100%;
    height: 120px;
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    border-bottom-color: gray;
    margin-left: 10px;
    flex-direction: row;
    display: flex;
}

.PullRequest-infos{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
}

.PullRequest-user{
    flex: 4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.user-img{
    width: 30px;
    border-radius: 50%;
    margin-bottom: 3px;
}

.username{
    color: blue;
    font-size: 15px;
    line-height: 0px;
    margin-left: 10px;
}

.name{
    color: gray;
    font-size: 13px;
    line-height: 0px;
    margin-top: -1px;
}

.PullRequest-title{
    font-size: 15px;
    color: blue;
}

.PullRequest-description{
    font-size: 13px;
    color: gray;
    width: 200px;
    height: 28px;
    white-space: wrap;
    overflow: hidden;
}

.PullRequest-user{
    display: flex;
    flex-direction: column;
    
}

.fork-number{
    color: #DE920C;
    font-size: 16px;
}

.star-number{
    color: #DE920C;
    font-size: 16px;
}

.PullRequest-status{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: -12px;
}
