@import url('https://fonts.googleapis.com/css?family=Sunflower:300,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Sunflower', sans-serif;
}
a{
    color: gray;
}
.content{
    padding: 0 0 0 4vw;
    min-height:100%;
}
.flex-child{
    padding:0 1vh;
    vertical-align: middle;
}
.title{
    font-size: 1.2em;
}
.sub-title{
    font-size: 1em;
    font-weight: bold;
}
.card-body{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.blue-text{
    color: #4377AA;
}
.light-gray-text{
    color: #C7C5C7;
}
.user-content{
    text-align: center;
    .avatar-image{
        width: 32px;
        height: 32px;
    }
    h3{
        font-size:16px;
    }
    p{
        font-size:12px;
    }
}
.user-inline{
    text-align: left;
    display:flex;
    margin: 5px 0 0 0;
    div{
        padding: 10px 0 0 0;
        margin: 0 5px 0 0;
    }
    .avatar-image{
        width: 36px;
        height: 36px;
        border-radius:50%;
    }
}