// Colors
$blue: #6699cc;
$dark-grey: #333333;
$dark-blue: #336699;
$grey: #666;
$off-white: #f7f7f7;
$yellow: #cc9900;

// Font Size
$font-size-large: 2.0rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
